.one{
    background-color: #E6E9EE;
    padding-left: 60px;
    padding-top: 30px;
}
.two{
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 88px;
}
.three{
  padding-left: 70px;
  padding-top: 20px;
  font-family:cursive ;
  font-size: large;
  color: blueviolet;
  color: ;
}
